@import url(https://fonts.googleapis.com/css?family=Bevan:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Mukta:200,300,regular,500,600,700,800);


:root {
    --base: #903CB4;
    --segundaBase: #804FC4;
    --lila: #9281D5;
    --lilaAzul: #7B68EE;
    --gris: #949FDB;
    --destacado: #799AD2;
    --degradadoFondo: linear-gradient(273deg, #949fdb, #799ad2, #9281d5);
    --degradadoBtn: linear-gradient(100deg, #913CB4, #804FC5);
    --letras: whitesmoke;
    --trans: rgba(144, 60, 180, 0.3);

}

body {
    max-width: 400vh;
    margin: 0;
    /* Elimina los márgenes predeterminados del cuerpo */
    background: var(--degradadoFondo);
    background-size: 180% 180%;
    animation: gradient-animation 21s ease infinite;
    font-family: 'Mukta', Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

.navegador {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--destacado);
    color: var(--letras);
    border-radius: 25px;
    justify-content: space-evenly;
    padding: 10px;
    /* Agrega un poco de relleno para el navegador */

}



.favicon a {
    text-decoration: none;
}

.img_movil {
    display: none;
}

.navegador li a {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: var(--degradadoBtn);
    color: var(--letras);
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navegador li a:hover {
    background: var(--lilaAzul);
    color: var(--letras);
}

.favicon a {
    background-color: transparent;
    color: inherit;
    border: none;
}



.desplegado {
    background-color: var(--destacado);
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: 0;
    padding: 1rem;
    text-align: center;
    transition: all .3s;
}

#modoOscuroBtn {
    background-color: transparent;
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 12px;
   
}

.menu-hamburguesa {
    display: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

.menu-visible {
    display: flex;
}

section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* Dos tercios y un tercio */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    /* Agrega un poco de relleno para el contenido de la sección */
    gap: 10px;
}

.heroimg {
    background-image: url("fotos/prueba2copia.JPG");
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    max-width: 100%;
    max-height: 50%;
    grid-column: 1/2;
    grid-row: 1/5;
    border-radius: 25px;

}

.herotext {
    color: var(--letras);
    background: var(--degradadoBtn);
    padding: 20px;
    /* Agrega relleno para separar el texto del fondo */
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px;
    max-width: 100%;
}

p #contexto {
    text-align: left;
}

h1 {
    font-size: 2rem;
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
    font-weight: 100;
}


#lema {
    font-style: italic;
}


#ocupacion {
    font-weight: 800;
    font-size: 1.5rem;
}

.estudios {
    grid-column: 2/2;
    background: var(--degradadoBtn);
    color: var(--letras);
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    border-radius: 25px;

}

.estudios h2 {
    margin-left: 30px;
}

.estudios ul {
    margin-right: 30px;
    margin-left: 25px;
}

.laboral {
    grid-row: 3;
    grid-column: 1/4;
    border-radius: 25px;
    background: var(--degradadoBtn);
    display: flex;
    align-items: center;
    color: var(--letras);
    gap: 50px;
}

.laboral h2 {
    margin-left: 30px;

}

.laboral p {
    margin-right: 50px;
}

.competencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    grid-row: 4/5;
    grid-column: 1/4;
    color: var(--letras);
}

.competencias h2 {
    background-image: linear-gradient(45deg, var(--trans), transparent);
    border-radius: 25px;
    padding: 10px;
}

/* queremos que solo salga en el primer h2
*/

.competencias .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 50px;
    color: var(--letras);
}

.idiomas,
.lenguajes,
.ofimatica {
    flex: 1;
    color: var(--letras);
    background: var(--degradadoBtn);
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.idiomas:hover,
.lenguajes:hover,
.ofimatica:hover {
    background: var(--degradadoFondo);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.idiomas h2,
.lenguajes h2,
.ofimatica h2 {
    margin-bottom: 10px;
    width: 100%;
    /* Añade margen inferior al título */
}

.idiomas table,
.lenguajes table,
.ofimatica table {
    border: none;
    width: 300px;
    /* Establece un ancho fijo según tus necesidades */
    margin: 0 auto;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: var(--lila);
    transition: background-color 0.2s;
    border-radius: 25px;
}

table:hover th {
    background: var(--base);
}

table:hover td {
    color: #1d1c1c;
}

.contactos {
    text-align: center;
}

.contactos h2 {
    color: var(--letras);
    margin: 0;

}

.contact-box {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 500px;
    text-align: center;
}

.contact-box h2 {
    color: #333;
    margin: 0;
}

button {
    background: var(--degradadoBtn);
    color: var(--letras);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    /* Añade margen superior para separar el botón de los párrafos */
}

button:hover {
    background: #7B68EE;
}

.modal-content textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

.modal-content button {
    background-color: var(--degradadoBtn);
    color: var(--letras);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    vertical-align: middle;
    /* Alinea verticalmente con el área de texto */
}

.modal-content button:hover {
    background: #7B68EE;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background: var(--degradadoFondo);
    color: var(--letras);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
}

.close:hover {
    color: var(--base);
}

footer {

    background: var(--degradadoBtn);
    color: var(--letras);
    min-height: 100px;
    padding: 20px;

}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}



.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnSubida {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #799AD2 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Mukta';
    font-size: 15px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}


@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes shine {
    0% {
        color: #FFFFFF;
    }

    50% {
        color: lightblue;
    }

    100% {
        color: #FFFFFF;
    }
}


@media screen and (width <=80ch) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu-hamburguesa {
        display: block;
        position: absolute;
        top: 1;
        right: 0;
        padding: 1rem;
    }

    .navegador {
        background-color: var(--destacado);
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 0;
        padding: 1rem;
        display: none;
        transition: all 0.3s;

    }

    .expandido {
        background-color: var(--destacado);
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 0;
        padding: 1rem;
        display: flex;
        animation: slide-left 0.6s ease-in-out both;
        gap: 10px;
        font-size: 18px;
    }

    #modoOscuroBtn {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .img_movil {
        display: flex;
        align-items: flex-start;

    }

    .img_movil img {
        border-radius: 25px;
    }

    .herotext {
        text-align: center;
        grid-column: 1/1;
        grid-row: 2/2;
    }

    p #contexto {
        text-align: left;
    }

    .estudios {
        display: flex;
        justify-content: center;
        flex-direction: column;
        word-break: keep-all;
        padding: 40px;
        grid-column: 1/1;
        grid-row: 3/3;
    }

    .laboral {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        word-break: keep-all;
        padding: 20px;
        grid-column: 1/1;
        grid-row: 4/4;
    }

    .laboral p {
        justify-content: center;
    }

    .competencias .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btnSubida {
        width: 5rem;
        height: 3rem;
    }


    @keyframes slide-left {
        0% {
            -webkit-transform: translateX(100px);
            transform: translateX(100px);
        }

        100% {
            -webkit-transform: translateX(0px);
            transform: translateX(0px);
        }
    }

}