@import url(https://fonts.googleapis.com/css?family=Bevan:regular,italic);

body {
    display: grid;
    grid-template-rows: auto 1fr; /* Divide el cuerpo en dos filas: una para el navegador y otra para el contenido principal */
    max-width: 400vh;
    max-height: 400vh;
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
    overflow: hidden; /* Evita el desbordamiento */
}

li{
    list-style-type: none;
}

.navegador {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: green;
    color: white;
    justify-content: space-around;
    padding: 10px; /* Agrega un poco de relleno para el navegador */
}

.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white; /* Cambia el fondo del contenido principal a blanco */
    padding: 10px; /* Agrega un poco de relleno para el contenido principal */
    border-radius: 5px;
}

section {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Dos tercios y un tercio */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 100%;
    max-height: 100%;
    padding: 10px; /* Agrega un poco de relleno para el contenido de la sección */
}

.heroimg {
    background-image: url("fotos/hero.png");
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    max-width: 100%;
    max-height: 50%;
    grid-column: 1/2;
    grid-row: 1/5;
    
}

.herotext {
    color: white;
    background-color: blueviolet;
    padding: 20px; /* Agrega relleno para separar el texto del fondo */
}
h1{
    font-size: 2rem;
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
    font-weight: 300;
}


#lema{
    font-style: italic;
}


#ocupacion{
 font-weight: 800;
    font-size: 1.5rem;
}