@import url(https://fonts.googleapis.com/css?family=Bevan:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Mukta:200,300,regular,500,600,700,800);


:root {
    --base: #903CB4;
    --segundaBase: #804FC4;
    --lila: #9281D5;
    --lilaAzul: #7B68EE;
    --gris: #949FDB;
    --destacado: #799AD2;
    --degradadoFondo: linear-gradient(273deg,#949fdb,#799ad2,#9281d5) ;
    --degradadoBtn: linear-gradient(100deg, #913CB4, #804FC5);
    --letras: whitesmoke;
   
  }

body {
    max-width: 400vh;
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
    background: var(--degradadoFondo);
    background-size: 180% 180%;
    animation: gradient-animation 21s ease infinite;
    font-family: 'Mukta', Arial, Helvetica, sans-serif;
    height: 100vh;
}

li{
    list-style-type: none;
}

.navegador{
    display: flex;
     align-items: center;
    flex-direction: row;
     background-color: var(--destacado);
     color: var(--letras);
     border-radius: 25px;
     justify-content: space-evenly;
     padding: 10px; /* Agrega un poco de relleno para el navegador */
     
 }

.favicon a {
    text-decoration: none;
}


.navegador li a {
    display:flex;
    align-items: center;
    padding: 5px 10px;
    background: var(--degradadoBtn);
    color: var(--letras);
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navegador li a:hover {
    background: var(--lilaAzul);
    color: var(--letras);
}

.favicon a {
    background-color: transparent;
    color: inherit;
    border: none;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

#modoOscuroBtn{
    background-color: transparent;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 50px;
    padding-right: 60px;
}

.menu-hamburguesa{ 
    display: none;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  
.menu-visible {
    display: flex;
}

h1{
    font-size: 2rem;
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: var(--letras);
}

h2{
    font-size: 1.5rem;
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: var(--letras);
}

.cuerpo{
    display: flex;
  }
  
  .enlaces {
      width: 15%;
      padding: 20px;
      background: var(--destacado);
      color: var(--letras);
      border-radius: 25px;
    }

    a:visited{
        color: var(--letras);
    }
    .contenido {
      flex: 1;
      padding: 20px;
    }

    

    .contenido img{
        display: block;
        width: 800px;
        height: 400px;
        margin: 0 auto;
    }
    .info {
      display: none;
    }
    .info.visible {
      display: block;
    }

h1{
    font-size: 2rem;
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

h2{
    font-size: 1.5rem;
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
    font-weight: 100;
}


button {
    background: var(--degradadoBtn); 
    color: var(--letras);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Añade margen superior para separar el botón de los párrafos */
}

button:hover {
    background: #7B68EE; 
}


footer{
    
    background: var(--degradadoBtn);
    color: var(--letras);
    min-height: 100px;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;

}

footer ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  
}



.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
